* {
    padding: 0;
    margin: 0;
  }

html, body{
    height: 100%;
  margin-top: 30px;
  margin-bottom: 20px;
  margin-right: 0px;
  margin-left: 0px;
background-image: url("constellation.png"); 
  background-size: cover;            
  background-repeat: repeat; 
}

.back-home {
  display: inline-block;
  font-family: "Inter", sans-serif;
  font-size: 14px;
  font-weight: 300;
color: #B4A2FC;
  text-decoration: none;
  margin-bottom: -40px;
  transition: opacity 0.3s ease, transform 0.3s ease;
  margin-left: 30px;
}

   .container {
  display: flex;
  flex-direction: column;
  justify-content: space-between; 
  align-items: center;
  height: 100vh;
  text-align: center;
  padding: 20px 0;
}

p, .animated-line, .text-box {
  position: static;
  left: auto;
  top: auto;
  margin: 0;
}

    h1{
    font-weight: 400;
    text-align: center;
  font-size: 30px;
  padding-bottom: 0.2em;
   font-family: "Cinzel Decorative", serif;
  font-weight: 700;
  margin-top: -30px;
  font-style: normal; 
 color:#B4A2FC; 
  text-shadow:
      0 0 2px #5943b4,
    0 0 4px #5943b4,
    0 0 6px  #5943b4,
    0 0 10px #5943b4;
    }

    p {
  font-size: 22px;
  line-height: 1.7em;
  max-width: 550px;
  text-align: center; 
  color: #B4A2FC;
  font-family: "Bodoni Moda", serif;
  font-weight: 100;
  margin: 0;
}

  .text-box {     
  background-color: #b4a2fc;   
  border-radius: 20px;
  padding: 20px;
  box-shadow: 0 3px 8px #B4A2FC;
  height: 150px;              
  width: 450px;
  display: flex;
  justify-content: center;
  align-items: center;
  line-height: 1.5em;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.text-box:hover {
  transform: scale(1.02);
  box-shadow: 0 6px 25px rgba(180, 163, 250, 0.9);
}

.animated-line {
  font-size: 34px;
  color:  #B4A2FC;
  font-family:  "Bodoni Moda", serif ;
  font-weight: 300;
}

.animated-line span {
  opacity: 0;
  animation: fadeIn 1.2s ease forwards;
}

.animated-line span:nth-child(1) {
  animation-delay: 0s; 
}

.animated-line span:nth-child(2) {
  animation-delay: 1.5s;
}

.animated-line span:nth-child(3) {
  animation-delay: 3s;  
}

@keyframes fadeIn {
  from { opacity: 0; transform: translateY(10px); }
  to { opacity: 1; transform: translateY(0); }
}

 .text-box input {
  width: 280px;
  padding: 20px 20px;
  border: none;
  border-radius: 15px;
  font-size: 14px;
  text-align: center;
  font-family: "Inter", sans-serif;
font-weight: 250;
  color:#372778;
  outline: none;
}

.text-box button {
  margin-left: 10px;
  padding: 17px 20px;
  border: none;
  border-radius: 12px;
  background-color: #372778;
  color: #b4a2fc;
  font-family: "Inter", sans-serif;
  font-size: 20px;
  font-weight: bold;
  cursor:pointer;

}

.popup {
  position: absolute;
  top: 35%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: rgb(33, 33, 33);
  box-shadow: 0 6px 8px rgba(180, 163, 250, 0.9);
  backdrop-filter: blur(6px);
  border-radius: 10px;
  padding: 15px 30px;
  color: #b4a2fc;
  font-family: "Inter", sans-serif;
font-weight: 250;
  font-size: 19px;
  opacity: 0;
  animation: popupFade 12s ease-in-out forwards;
  animation-delay: 0s;
  width:400px;
  margin-top: 20px;
  margin-bottom: 20px;
  text-align: center;
}

@keyframes popupFade {
  0%, 40% { opacity: 0; }     
  50%, 75% { opacity: 1;}
  100% { opacity: 0; }    
}

.bottom-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px; 
  margin-bottom: 20vh; 
}

.shooting-star {
  position: fixed;
  top: 160px;
  left: -200px;
  width: 6px;
  height: 6px;
  background: white;
  border-radius: 50%;
  cursor: pointer;

  z-index: 99999;

  box-shadow:
    0 0 12px 4px rgba(180, 163, 250, 0.9),
    0 0 25px 12px rgba(180, 163, 250, 0.7);

  opacity: 0;
  animation: shootAcross 22s ease-in-out forwards;
}

@keyframes shootAcross {
  0% {
    opacity: 0;
    transform: translateX(0) translateY(0) scale(0.6);
  }
  5% {
    opacity: 1;
  }
  18% {
    transform: translateX(120vw) translateY(80px) scale(1.2);
    opacity: 1;
  }
  20% {
    opacity: 0;
  }
  100% {
    opacity: 0;
    transform: translateX(0) translateY(0) scale(0.6);
  }
}
@media screen and (max-width: 740px) {

  h1{
    font-size: 24px;
  }

  .shooting-star {
    position: fixed;
    top: 130px;              
    left: -200px;            
    width: 6px;
    height: 6px;
    animation: shootAcrossMobile 5s linear forwards; }

  @keyframes shootAcrossMobile {
    0% {
      opacity: 0;
      transform: translateX(0) translateY(0) scale(0.6);
    }
    5% {
      opacity: 1;
    }
    50% {
      transform: translateX(150vw) translateY(100px) scale(1.2);
      opacity: 1;
    }
    55% {
      opacity: 0;
    }
    100% {
      opacity: 0;
      transform: translateX(0) translateY(0) scale(0.6);
    }
  }
}

@media screen and (max-width: 740px) {

  .popup {
    top: 250px;
    width: 240px;              
    padding: 14px 18px;      
    font-size: 13px;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(180, 163, 250, 0.7);
  }

  @keyframes popupFade {
    0%, 40% { opacity: 0; }
    50%, 75% { opacity: 1; }
    100% { opacity: 0; }
  }
}

.constellation-gallery{
    padding: 60px 0;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 40px;
  flex-wrap: wrap;  
}

.side-constellations {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  z-index: 1000;
  pointer-events: none;
}

.side-constellations img {
  position: absolute;
  opacity: 0.8;
  filter: drop-shadow(0 0 10px rgba(180,163,250,0.8));
  pointer-events: auto;
  cursor: pointer;
}

.c1 {
  top: 160px;
  left: 140px;
}

.c2 {
  top: 200px;
  right: 170px;
}

.c3 {
  bottom: 140px;
  left: 40px;
}

.c4 {
  bottom: 100px;
  right: 50px;
}

@media (max-width: 740px) {
  .side-constellations img {
    width: 150px;
    opacity: 0.9;
  }

  .c1 { top: 140px; left: 10px; }
  .c2 { top: 180px; right: 25px; }
  .c3 { bottom: -50px; left: 70px; }
  .c4 { bottom: -70px; right: 90px; }
}

@media (max-width: 740px) {

  .text-box {
    width: 370px;        
    height: auto;
    padding: 50px;
    border-radius: 15px;
  }

  .text-box input {
    width: 340px;        
    padding: 18px 18px;
    font-size: 12px;
    border-radius: 10px;
  }

  .text-box button {
    padding: 18px 18px; 
    font-size: 14px;
    border-radius: 10px;
  }

  .bottom-section {
    gap: 15px;          
    margin-bottom: 25vh;
  }
}

@media screen and (max-width: 740px) {
  p{
  font-size: 16px;
margin-bottom: 5px;}
  
  .animated-line{
margin-top: 10px;
font-size: 28px;
  }}

  .constellation {
  position: absolute;
  width: 300px;
  height: 260px;
  pointer-events: auto;
}

.constellation img {
  width: 100%;
  height: auto;
  display: block;
  opacity: 0.9;
  filter: drop-shadow(0 0 10px rgba(180,163,250,0.8));
  transition: 0.3s ease;
  cursor: pointer;
}


.hover-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(0.98);
  width: 300px;
  color: #b4a2fc;
  font-family: "Inter", sans-serif;
  font-weight: 250;
  font-size: 17px;
  text-align: center;
  opacity: 0;
  padding: 15px;
  transition: 
    opacity 0.8s ease-in-out, 
    transform 0.8s ease-in-out;
  pointer-events: none;
  visibility: hidden;    
}

.constellation:hover .hover-text {
  opacity: 1;
  transform: translate(-50%, -50%) scale(1);
  visibility:visible;    
}

.constellation:hover img {
  opacity: 0.15;
  filter: drop-shadow(0 0 22px rgba(180,163,250,1));
  transition: opacity 0.8s ease-in-out, filter 0.8s ease-in-out;
}

@media (max-width: 740px) {

  .constellation {
    width: 140px;
    height: 130px;
  }

  .constellation img {
    width: 100%;
    height: auto;
  }

  .hover-text {
    font-size: 12px;
    padding: 8px;
    width:200px;
  }

  .c1 {
    top: 100px;
    left: 30px;
  }

  .c2 {
    top: 130px;
    right: 25px;
  }

  .c3 {
    bottom: -40px;
    left: 60px;
  }

  .c4 {
    bottom: -10px;
    right: 50px;
  }

  .constellation:hover img {
    opacity: 0.25;
    transform: scale(1.03);
  }

  .constellation:hover .hover-text {
    opacity: 1;
    transform: translate(-50%, -50%) scale(1);
  }
}

.c1 {
  width: 280px;
  height: 350px;
}
.c1 img { width: 100%; }

.c2 {
  width: 300px;
  height: 260px;
}
.c2 img { width: 100%; }

.c3 {
  width: 350px;
  height: 210px;
}
.c3 img { width: 100%; }

.c4 {
  width: 250px;
  height: 165px;
}
.c4 img { width: 100%; }

@media (max-width: 740px) {
  .c1 { width: 180px !important; height: 160px !important; }
  .c2 { width: 150px !important; height: 140px !important; }
  .c3 { width: 150px !important; height: 120px !important; }
  .c4 { width: 210px !important; height: 110px !important; }
}

.big-wish {
  font-size: 100px;        
  display: inline-block;
  transform: translateY(5px); 
  letter-spacing: 2px;
}
  
@media (max-width: 740px) {
  .big-wish {
    font-size: 45px; 
  }
}