* {
    padding: 0;
    margin: 0;
  }

html, body{
    height: 100%;
  margin-top: 20px;
  margin-bottom: 20px;
  margin-right: 20px;
  margin-left: 20px;
    padding: 1em;
    background-color: rgb(33, 33, 33);
}

.back-home {
  display: inline-block;
  font-family: "Inter", sans-serif;
  font-size: 14px;
  font-weight: 300;
  color: rgb(183, 149, 194);
  text-decoration: none;
  margin-bottom: 30px;
  transition: opacity 0.3s ease, transform 0.3s ease;
}


.container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 2em;
}

img {
    width: 93%;
    height: auto;
    margin-top: -90px;
    margin-bottom: -80px;
    margin-left: -30px;
}

 .subheading, p, ol{
  font-family: Helvetica, sans-serif;

}

h1{
    font-weight: 400;
    text-align: left;
  font-size: 30px;
  padding-bottom: 0.2em;
  color: #61446a;
   font-family: "Cinzel Decorative", serif;
  font-weight: 700;
  font-style: normal;
}
 #dates { 
  text-align: right;
  margin-top: -40px;
 }

.libra{ 
    color:rgb(215, 177, 224); 
  text-shadow:
      0 0 2px #8e55a0,
    0 0 4px #8e55a0,
    0 0 6px #8e55a0,
    0 0 10px #8e55a0;
    font-size: 120px;
    margin-top: 75px;
    text-align: center;
}


.subheading {
  font-optical-sizing: auto;
  font-style: normal;
    font-weight: 400;
  font-size: 3em;
  padding-bottom: 0.4em;
  padding-top: 0.4em;
}

p, .p1 .p2 .p3{
    font-size: 1em;
    padding-bottom: 0.5em;
    line-height: 27px;
    width: 550px;
    text-align: justify;
    color: rgb(157, 126, 167);
    font-family: "Inter", sans-serif;
    font-weight: 300;
}
#Prompt { 
  font-size: 0.9em;
  padding-top:5px;
  padding-bottom: 20px;
  margin-left: 25px;
width: 350px;
color: rgb(183, 149, 194);
font-family: "Inter", sans-serif;
margin-top: -40px;
}

#prompthead { 
    font-size: 2.5em;
    margin-bottom: -35px;
}
#para1 {
  margin-top: 70px;
}

#message {
  font-size: 16px;
  width: 420px;
  text-align: center;
  font-family: "Inter", sans-serif
}

ol {
    padding-left: 1.5em;
    width: 570px;
}

.subheading-1{
    padding-left: 60px;
    padding-right: 0.5em;
  font-optical-sizing: auto;
  font-style: normal;
    font-weight: 400;
    font-size: 35px;
    padding-bottom: 0.3em;
    padding-top: 0.2em;
    border: solid 1px rgb(225, 169, 245);
  margin-bottom:36px;
  margin-top: 30px;
  border-radius: 20px;
  margin-left: 30px;
width: 420px;
color: rgb(191, 139, 209);
font-weight: 500;
  font-family: "Bodoni Moda", serif;
}

.subheading-2 {
  padding-left: 0.5em;
  padding-right: 0.5em;
  padding-top: 18px;
  padding-bottom: 18px;
   font-family: "Bodoni Moda", serif;
  font-optical-sizing: auto;
  font-style: normal;
    font-weight: 400;
    font-size: 30px;
    padding-bottom: 0.2em;
    padding-top: 0.2em;
    border: solid 1px rgb(225, 169, 245);
  margin-bottom:36px;
  margin-top: 70px;
  border-radius: 20px;
width:620px;
color:rgb(191, 139, 209);
font-weight: 500;

}
.subheading-3{
padding-left: 0.5em;
    font-weight: 400;
    font-family:"Bodoni Moda", serif;
    font-size: 32px;
    padding-bottom: 8px;
    padding-top: 8px;
    border: solid 1px rgb(225, 169, 245);
  margin-bottom:30px;
  margin-top: 100px;
    margin-left: 0px;
  border-radius: 20px;
width: 200px;
color: rgb(191, 139, 209);
font-weight: 500;

}

.subheading-4{
  padding-left: 0.10em;
  padding-right: 0.10em;
 font-family: "Bodoni Moda", serif;
 font-weight: 450px;
    padding-bottom: 10px;
    padding-top: 10px;
background-color: #493050; 
  margin-bottom:15px;
  margin-top: 55px;
    margin-left: 70px;
  border-radius: 20px;
  text-align: center;
width: 400px;
color:rgb(187, 154, 194) ;
box-shadow: 0 6px 20px rgb(187, 154, 194, 0.9);

}

.subheading-1 {
  border-radius: 10px; 
  transition: border-radius 0.4s ease; 
}

.subheading-1:hover {
  border-radius: 0px;
}

.subheading-2 {
  border-radius: 10px; 
  transition: border-radius 0.4s ease; 
}

.subheading-2:hover {
  border-radius: 0px;
}

  .subheading-3 {
  border-radius: 10px; 
  transition: border-radius 0.4s ease; 
}

.subheading-3:hover {
  border-radius: 0px;
}
  .subheading-4 {
  border-radius: 10px; 
  transition: border-radius 0.4s ease; 
}

.subheading-4:hover {
  border-radius: 0px;
}
.p1{
margin-left: -20px;
margin-bottom: 16px;
}

.p2 {
  margin-left: -20px;
}

.p3 {
  margin-left: -20px;
}

.my-image2 {
  
    width: 60%;
    margin-top: -10px;
    padding-left: 110px;

}

.column1 {
  display: flex;               
  justify-content: space-between; 
  align-items: center;        
  gap: 20px;                   
  margin-top: 20px;
  margin-bottom: 30px;
  margin-left: -10px;
}

.box {
  flex: 1;                     
  background-color: #493050;   
  border-radius: 20px;
  padding: 20px;
  text-align: center;
  font-family:  "Inter", sans-serif;
  font-weight: 300;
  font-size: 15px;
  color: rgb(187, 154, 194);
  box-shadow: 0 3px 8px rgb(187, 154, 194, 0.9);
  height: 200px;              
  display: flex;
  justify-content: center;
  align-items: center;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  line-height: 1.6em;
  margin-bottom: -30px;
  margin-left: 20px;
  cursor: pointer;
}


.box:hover {
  transform: translateY(-8px);
  box-shadow: 0 6px 25px rgb(187, 154, 194, 0.9);
}

.image2{
  margin-top:-130px;
  margin-left:0px
}


.container {
  display: flex;
  align-items: flex-start;
  gap: 2em;
}

.left-column {
  position: sticky;
  top: 0;
  align-self: flex-start;
  height: 100vh;
  overflow-y: auto;
}

.right-column {
  flex: 1;
  overflow-y: visible;
}

body {
  overflow-x: hidden;
}

.popup-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgb(33, 33, 33, 0.75);
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0;
  pointer-events: none;
  animation: fadeCycle 15s ease 8s forwards;
  z-index: 9999;
}

.popup-content {
  background-color: rgb(33, 33, 33);
  color: rgb(187, 154, 194);
  border-radius: 20px;
  padding: 40px;
  width: 420px;
  text-align: center;
  font-family: "Cinzel Decorative", serif;
  box-shadow: 0 6px 10px rgba(187, 154, 194, 0.9);
  transform: scale(0.8);
  opacity: 0;
  animation: popCycle 15s ease 8s forwards;
  cursor: pointer;
}

@keyframes fadeCycle {
  0%, 20% {
    opacity: 0;
    pointer-events: none;
  }
  25%, 85% {
    opacity: 1;
    pointer-events: all;
  }
  100% {
    opacity: 0;
    pointer-events: none;
  }
}

@keyframes popCycle {
  0%, 20% {
    transform: scale(0.8);
    opacity: 0;
  }
  25%, 85% {
    transform: scale(1);
    opacity: 1;
  }
  100% {
    transform: scale(0.8);
    opacity: 0;
  }
}

.pop-up-prompt{
  text-align: centre;
  color:  rgb(157, 126, 167);
  font-family:  "Inter", sans-serif;
  font-weight: 300;
font-size: 15px;
line-height: 24px;
padding-bottom: 40px;
padding-top: 20px;
position: relative;
top:0px;
left: 145px;
width:280px;
}

@media screen and (max-width: 740px) {

  body {
    margin: 0px;
    padding: 0;
    background-color: rgb(33, 33, 33);
  }

  h1.glow-text {
    font-size: 22px;
    text-align: center;
  }

  #dates {
    text-align: center;
    margin-top: 5px;
  }

  .libra {
    font-size: 55px;
    margin-top: 40px;
    margin-bottom: -30px;
  }

  
  .container {
    flex-direction: column;
    gap: 1.5em;
  }

  .left-column {
    position: relative;
    height: auto;
    overflow: visible;
  }

  .right-column {
    width: 100%;
  }

  
  p,
  .p1,
  .p2,
  .p3 {
    width: 100%;
    font-size: 0.95em;
    text-align: justify;
  }

  #Prompt {
    width:70%;
    margin-left:0;
  }

  .subheading-1
  {
    width: 60%;
    margin-left: 90px;
    font-size: 28px;
    margin-top: 50px;
    padding-left: 25px;
    padding-top: 15px;
    padding-bottom: 15px;
   
  }

  .subheading-2
  {
    width: 70%;
    margin-left: 60px;
    font-size: 22px;
    margin-top: 40px;
    margin-bottom: 70px;
    padding-left: 20px;
    padding-top: 15px;
    padding-bottom: 15px;
   
  }

  .subheading-3 {
     width: 40%;
    margin-left: 90px;
    font-size: 24px;
    margin-top: 40px;
    margin-bottom: 50px;
    padding-left: 110px;
    padding-top: 10px;
    padding-bottom: 10px;
   
  }

  .subheading-4 {
     width: 60%;
    margin-left: 40px;
    font-size: 18px;
    margin-top: 60px;
    margin-bottom: 50px;
    padding-left: 120px;
    padding-top: 15px;
    padding-bottom: 15px;
   
  }
   
  .column1 {
    flex-direction: column;
    gap: 20px;
    margin-left: 0;
  }

  .box {
    width: 60%;
    margin-left: 0;
    height: auto;
    padding: 20px;
    margin-bottom: 30px;
  }

  img,
  .my-image,
  .image2,
  .my-image2 {
    width: 100%;
    height: auto;
    margin: 0;
    margin-top:-80px;
    margin-bottom: -60px;
    padding-left: 0;
  }

  .image2
  {
    margin-left: -120px;
    margin-bottom: -85px;
    margin-top: -130px;
  }

  .popup-content {
    width: 70%;
    padding: 25px;
    font-size: 16px;
    padding-left: 28px;

  } 

  #message {
font-size: 16px;
width: 400px;
  }

  #prompthead{
    padding-left:-100px;
    margin-left: -115px;
    font-size: 40px;
  }

  #Prompt{
    width: 350px;
    font-size: 15px;
    margin-left: -85px;
  }
  .pop-up-prompt {
    left: 0;
    width: 55%;
    text-align: center;
    padding-left: 110px;
    margin-top: -20px;
  }
}

.top-zodiac-icon {
  display: block;
  margin: -10px auto -40px auto;   
  width: 220px;                  
  height: auto;
}

@media screen and (max-width: 740px) {
  .top-zodiac-icon {
    width: 140px;      
    margin: 30px auto 0px auto;
  }
}
